<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
<h2>Cuenta registrada</h2>
<div class="my-3">
    <p><strong>ID:</strong> <span th:text="${cuenta.id}"></span></p>
    <p><strong>Autor:</strong> <span th:text="${cuenta.title}"></span></p>
    <p><strong>Tipo:</strong> <span th:text="${cuenta.type}"></span></p>
    <p><strong>Color:</strong> <span th:text="${cuenta.color}"></span></p>
    <p><strong>Descripcion:</strong> <span th:text="${cuenta.description}"></span></p>
    <p><strong>Provincia:</strong> <span th:text="${cuenta.days}"></span></p>
    <p><strong>Saldo Base:</strong> <span th:text="${cuenta.price}"></span></p>
    <p><strong>Cuenta Asociada:</strong> <span th:text="${cuenta.featured} ? 'Yes' : 'No'"></span></p>
    <p><strong>Fecha Apertura:</strong> <span th:text="${cuenta.launchDate}"></span></p>
</div>
<a th:href="@{/}">Agregar nueva cuenta</a>
        </div>
    </div>
</div>

</body>
</html>